# Files
*.log
.DS_Store
*.map
*.private.*

# Folders
dist/*
*/dist/*
tmp/*
*/tmp/*
node_modules/*
bower_components/*
*/node_modules/*
*/bower_components/*


# IntelliJ
.idea/*
*.iml

# Sublime
*.sublime-project
*/*.sublime-project
**/*.sublime-project
*.sublime-workspace
*/*.sublime-workspace
**/*.sublime-workspace
