$enplug-blue: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #5C9BCF,
  400: #42a5f5,
  500: #2863AE,
  600: #1666AC,
  700: #104982,
  800: #082F5A,
  900: #061F44,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: white,
    A400: white,
    A700: white,
  )
);
