$enplug-blue: #4078c0;

body {

    font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, sans-serif;

    h1 {
        color: black;
    }

    .blank-slate {
        padding:20px;
    }
}

.section-item {
    margin: 10px 0 10px 0;
    width: 100%;

    .item-header {

        h3 {
            font-size: 14px;
            font-weight: 400;
            color: black;
            margin: 5px 0;

        }

    }

    &.section-title {
        margin-top: 10px;
        width: 650px;
    }

}
